body {
  background-color: hsl(30, 54%, 90%);
}
.container {
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px 30px;
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
}

.prep-time {
  border-radius: 1px solid black;
  border-radius: 10px;
  padding: 14px 30px;
  background-color: hsl(330, 100%, 98%);
}

.prep-time h6 {
  color: hsl(332, 51%, 32%);
}

h2 {
  color: hsl(14, 45%, 36%);
}
.Nutrition p {
  display: flex;
  justify-content: space-between;
}
.Nutrition p strong {
  color: hsl(14, 45%, 36%);
}
