.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 0 auto;
  max-width: 500px;
}

.prep-time {
  border-radius: 1px solid black;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: hsl(330, 100%, 98%);
}
